
body {
  /* background-image: url("../public/Most-Beautiful-House-in-the-World.jpg"); */
  background-repeat: 'no-repeat';
  background-size: cover;
  background-Position: 'center',
}
a:-webkit-any-link {
  color: inherit !important;
  text-decoration: none !important;
}

.App1 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.main {
  flex: 1;
}

.Footer {
  flex-shrink: 0;
}

