.title {
  text-align: left;
  margin-left: 50px ;
  color:rgb(4, 0, 0);
  font-family: 'Alegreya', serif;
  margin-top: 40px;
  font-size: 50px;
}

.App-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}

.right-header{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin-top: 10px;
  padding-top: 10px
}

.header-clicks{
  text-align: center;
  margin: 50px;
  font-size: large;
  color:rgb(7, 0, 0);
  font-family: 'Alegreya', serif;
  text-decoration: none;

}

