.home{
  height: 650px;
  width: 50%;
  color: aliceblue;
    padding: 50px;
    margin: 0 0 0 40px;
  }

  body {
    background-image: url("../public/white-painted-wall-texture-background_53876-138197.avif");
    background-repeat: repeat;
  }


  .name{
    color: rgb(0, 0, 0);
    margin-top: 20px;
  }

  .Name{
    height: 40px;
    width: 500px;
    margin: 5px 0  0 20px;
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    font-family: 'Lato,sans-serif'
  }

  .welcome {
    height: 300px;
    margin: 100px 50px 0 0;
    font-size: x-large;
    padding: 20px;

  }


  #welcome1{
    color: rgb(0, 0, 0);
    margin: 0;
    font-family: 'Lato,sans-serif';

    width: 800px;
  }
  .profilePic {
    height: 600px;
    width: 600px;
    border-radius: 6px;
    background-image: url("../public/zsGRUBQR5aMZ8tjcn22eaf-1200-80.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2);
  }



.center{
  display: flex;
  justify-content:space-around;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

h2, h3, h1{
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(0, 0, 0)
}

.titleHome{
  margin: 0px;
  padding-top: 15px;
}


  /* CSS */
  .button-42 {
    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    /* width: 100%; */
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
    width: 200px;
    margin: 25px 0 0 100px;
  }

  .picture2{
    height: 250px;
    width: 100%
  }

  .button-42:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
  }


  /* commerical home page */

  .Commercialhome{
    width: 100%;
    height: 1000px;
    margin: 50px 50px 0 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .CompicturesHome{
    width: 1000px;
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  }

  .commercialBoxHome{

  width: 2000px;
  height: 850px;
  background-color: rgba(200, 200, 200, 0.8);
  min-height: auto;
  justify-content: flex-start;

}

.commercialBox{
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}



#pic1{
  background-image: url("../public/sbibank.jpg");
  background-size: cover;
    background-position: center;
}

#pic2{
  background-image: url("../public/icicibank.jpg");
  background-size: cover;
    background-position: center;
}

#pic3{
  background-image: url("../public/vfish.jpg");
  background-size: cover;
    background-position: center;
}

#pic4{
  background-image: url("../public/gulleyCoq.jpg");
  background-size: cover;
    background-position: center;
}

.ComWords{
  height: 500px;
  width: 450px;
  margin-top: 100px;
}

.icons{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

.icons > svg {
  font-size: 3rem;
  margin-bottom: 10px;
}

.ProjectName1{
  height: 50px;
  text-align: center;
  font-size: large;
  background-color: white;
}

/* residental page home */

.ResidentalHome{
  height:800px;
  width: 100%;
  margin: 40px 0 0 ;
  display: flex;
  justify-content: space-around;
}


.ResidentalProjects{
  height: 300px;
  width: 400px;
  border: 3px solid black;
  /* border-radius: 10px; */
  margin: 30px;
  background-color: white;

}

.Projects{
  height: 300px;
  width: 400px;
  border: 4px solid black;
  /* border-radius: 10px; */
  margin: 30px;
}

.ResidentalProjectName{
  height: 50px;
  font-size: large;
  text-align: center;
}

.Residentalpicture2{
  height: 250px;
  width: 100%;
}

.ResiFlex{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1000px;
}

.ResiWords{
  height: 500px;
  width: 500px;
  font-size: medi;
  margin: 100px 0 0 300px;
}

.residentalflexbox{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  justify-content: space-evenly;
}

#pic11{
  background-image: url("../public/CoquitlamHouse.jpg");
  background-size: cover;
    background-position: center;
}

#pic21{
  background-image: url("../public/VancouverCondo.jpg");
  background-size: cover;
    background-position: center;
}

#pic31{
  background-image: url("../public/KitchenReno.jpg");
  background-size: cover;
    background-position: center;

}

#pic41{
  background-image: url("../public/Alaska.jpg");
  background-size: cover;
    background-position: center;

}

#pic51{
  background-image: url("../public/Coquitlam\ family.jpg");
  background-size: cover;
    background-position: center;

}


#pic61{
  background-image: url("../public/Renovation2.jpg");
  background-size:cover;
    background-position: center;

}

